.git
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env/
.venv/
node_modules/
temp_videos/
backend/temp_videos/
prisma/
dev.db
huey_queue.db
huey_queue.db-shm
huey_queue.db-wal
*.mp4
**/*.mp4
*.mkv
**/*.mkv
*.avi
**/*.avi
*.mov
**/*.mov
