# === Python ===
__pycache__/
*.pyc
*.pyo

# === Vídeos e mídia temporária ===
*.webm
*.mp4
*.mkv
*.avi
*.srt

# === Banco de dados ===
*.db
*.db-shm
*.db-wal

# === Ambiente ===
.env
node_modules/

# === Documentos gerados ===
*.docx

# === Temp do backend ===
backend/temp_videos/
backend/temp/
*.db-shm
*.db-wal
*.mp4
*.m4a
# === IDE ===
.vscode/
.idea/